Exchange Rate Monitor - NGN_USD Alert Pipeline.json
{
  "name": "Exchange Rate Monitor - NGN/USD Alert Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1e56e7ba-53e2-4402-a8b1-87d0b265970a",
      "name": "Schedule Trigger \"Every 5 Min - Rate Check\""
    },
    {
      "parameters": {
        "url": "https://open.er-api.com/v6/latest/USD",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "b2047df9-9951-4445-85af-cdea1b4edfca",
      "name": "HTTP Request \"Fetch USD Exchange Rates\"",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "99921281-9139-49c9-a9c0-a0ef76c983d0",
              "leftValue": "={{ $json.rates.NGN }}",
              "rightValue": 1400,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "c9e02d83-2ec2-4a55-8cf0-1926fe6f7767",
      "name": "If - \"Check NGN Above Threshold\""
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rate = $input.first().json.rates.NGN;\nconst timestamp = $input.first().json.time_last_update_utc;\n\nreturn [{\n  json: {\n    alert: \"NGN/USD Rate Alert\",\n    message: `NGN rate is ${rate} - above threshold of 1500`,\n    rate: rate,\n    timestamp: timestamp,\n    severity: \"high\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "384a17a7-9259-4703-ae3b-8645f2bdc7a9",
      "name": "Code (true path) - \"Format Rate Alert\""
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        96
      ],
      "id": "061ac314-7248-4804-972c-644a72e9fc6a",
      "name": "No Operation → \"Below Threshold - No Action\""
    },
    {
      "parameters": {
        "jsCode": "const timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    alert: \"WORKFLOW ERROR\",\n    message: \"HTTP Request to exchange rate API failed\",\n    timestamp: timestamp,\n    severity: \"critical\",\n    action_required: \"Check API endpoint availability and authentication\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        224
      ],
      "id": "6e283c8e-e4e9-40aa-b7ab-369658e135cd",
      "name": "Code (error path) - \"Handle API Failure\"",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger \"Every 5 Min - Rate Check\"": {
      "main": [
        [
          {
            "node": "HTTP Request \"Fetch USD Exchange Rates\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request \"Fetch USD Exchange Rates\"": {
      "main": [
        [
          {
            "node": "If - \"Check NGN Above Threshold\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code (error path) - \"Handle API Failure\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - \"Check NGN Above Threshold\"": {
      "main": [
        [
          {
            "node": "Code (true path) - \"Format Rate Alert\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation → \"Below Threshold - No Action\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "30eaa2ee-2438-43d6-ae78-d3510284353c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93950c47bcc171498e54ffa57dfa9d3ee61df948b05f33a97f86c6185cad6f73"
  },
  "id": "lu8pUrwN29ycsj3s",
  "tags": []
}