Prop Firm Crypto Market Monitor.json
{
  "name": "Prop Firm Crypto Market Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "61cfa151-088d-415d-8628-8f0a47fba084",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const btcPrice = $input.first().json.bitcoin.usd;\nconst ethPrice = $input.first().json.ethereum.usd;\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    timestamp: timestamp,\n    bitcoin_usd: btcPrice,\n    ethereum_usd: ethPrice,\n    btc_eth_ratio: Math.round((btcPrice / ethPrice) * 100) / 100,\n    btc_above_70k: btcPrice > 70000,\n    eth_above_2k: ethPrice > 2000,\n    market_status: btcPrice > 70000 && ethPrice > 2000 ? \"BULLISH\" : \"MIXED\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -96
      ],
      "id": "32212e1c-1f7d-40d3-9219-34fe5a53d9ff",
      "name": "Transform Price Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9a0fbaac-7076-438d-aa43-9439df62c320",
              "leftValue": "={{ $json.market_status }}",
              "rightValue": "Bullish",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "626d170b-68bf-49d4-9a8b-71862b393e84",
      "name": "Check Market Conditions"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{\n  json: {\n    alert_type: \"MARKET_BULLISH\",\n    message: `BTC at $${data.bitcoin_usd} and ETH at $${data.ethereum_usd} - both above key levels`,\n    btc_eth_ratio: data.btc_eth_ratio,\n    timestamp: data.timestamp,\n    action: \"Review prop firm crypto trading conditions\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -96
      ],
      "id": "f4cf1d7e-2f39-4a68-a81a-ac1907dbae42",
      "name": "General Bullish Alert"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        832,
        96
      ],
      "id": "52591078-44fb-4214-a65f-ce1e2eee6972",
      "name": "Mixed Market - No Alert"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,ethereum&vs_currencies=usd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "24c95aa5-72bd-484b-8a21-c5e0370ad909",
      "name": "Fetch Crypto Prices",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    alert_type: \"API_ERROR\",\n    message: \"CoinGecko API request failed\",\n    timestamp: new Date().toISOString(),\n    severity: \"critical\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        112
      ],
      "id": "721996fe-74ea-4de1-a1ff-57cb7b8fbb0f",
      "name": "Handle API Failure"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Crypto Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Price Data": {
      "main": [
        [
          {
            "node": "Check Market Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Market Conditions": {
      "main": [
        [
          {
            "node": "General Bullish Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mixed Market - No Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Crypto Prices": {
      "main": [
        [
          {
            "node": "Transform Price Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "defaadf9-8219-41a7-bcbe-4c8d1e2b7910",
  "meta": {
    "instanceId": "93950c47bcc171498e54ffa57dfa9d3ee61df948b05f33a97f86c6185cad6f73"
  },
  "id": "Ywd29qLmC86LoLaf",
  "tags": []
}